In [1]:
num = int(input("enter the number: "))
for i in range(num):
    for j in range(i+1):
        print("*")

enter the number 5
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [2]:
num = int(input("enter the number: "))
for i in range(num):
    for j in range(i+1):
        print("*",end="")

enter the number: 5
***************

In [3]:
num = int(input("enter the number: "))
for i in range(num):
    for j in range(i+1):
        print("*")
    print()

enter the number5
*

*
*

*
*
*

*
*
*
*

*
*
*
*
*

In [4]:
num = int(input("Enter the number of row: "))
for i in range(num):
    for j in range(i+1):
        print("*",end="")
    print()

Enter the number of row 5
*
**
***
****
*****

In [5]:
num = int(input("enter the number of row: "))
for i in range(num):
    for j in range(num-i-1):
        print(" ")
    for k in range(i+1):
        print("*",end="")
    print()

enter the number of row: 5




*



**


***

****
*****

In [6]:
num = int(input("enter the number of rows: "))
for i in range(num):
    for j in range(num-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()

enter the number of rows: 5
    *
   **
  ***
 ****
*****

In [7]:
num = int(input("enter the number of rows: "))
for i in range(num):
    for j in range(num-i-1):
        print(" ",end="")
    for k in range(i+1):
        print("*",end=" ")
    print()

enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [10]:
num = int(input("enter the number of rows: "))
for i in range(num):
    for j in range(num-i-1):
        print("",end=" ")
    for k in range(i+1):
        print("*",end=" ")
    print()

enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

In [12]:
num = int(input("enter the number of rows: "))
k=0
for i in range(num):
    for j in range(k+1):
        print("*",end="")
    k=k+2
    print()

enter the number of rows: 5
*
***
*****
*******
*********

In [13]:
num = int(input("enter the number of rows: "))
k = 1
for i in range(num):
    for j in range(k+1):
        print("*",end="")
    k=k+2
    print()

enter the number of rows: 5
**
****
******
********
**********

In [14]:
num = int(input("enter the number"))
for i in range(num):
    for j in range(num-i):
        print("*",end="")
    for k in range(i+1):
        print(" ",end="")
    print()

enter the number5
*****
****
***
**
*

In [15]:
num = int(input("enter the number"))
for i in range(num):
    for j in range(num-i):
        print("*",end="")
    for k in range(i+1):
        print(" ",end=" ")

enter the number5
*****  ****    ***      **        *

In [16]:
num = int(input("enter the number of row"))
for i in range(num):
    for j in range(num-i):
        print("*",end=" ")
    for k in range(i+1):
        print(" ",end="")
    print()

enter the number of row5
* * * * *
* * * *
* * *
* *
*

In [22]:
num = int(input("enter the number of row: "))
for i in range(num,0,-1):
    for j in range(num-i):
        print(" ",end="")
    for k in range(0,i):
        print("*",end=" ")
    print()

enter the number of row: 5
* * * * *
 * * * *
  * * *
   * *
    *

In [23]:
num = int(input("enter the number of row"))
for i in range(num):
    for j in range(num-i):
        print(" ",end=" ")
    for k in range(i+1):
        print("*",end="")
    print()

enter the number of row5
          *
        **
      ***
    ****
  *****

In [24]:
num = int(input("Enter the number: "))
for i in range(num):
    for j in range(num-i):
        print(" ",end="")
    for k in range(i+1):
        print("*",end="")
    print()

Enter the number: 5
     *
    **
   ***
  ****
 *****

In [2]:
num = int(input("enter the number of rows: "))
for i in range(num):
    print(" "*(num-i-1)+"* "*(i+1))
for j in range(num-1,0,-1):
    print(" "*(num-j)+"* "*(j))

enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [3]:
num=int(input("enter the number of row: "))
for i in range(num):
    print(" "*(num-i-1)+"*"*(i+1))
for j in range(num-1,0,-1):
    print(" "*(num-j)+"*"*(j))

enter the number of row: 5
    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [4]:
num = int(input("enter the number: "))
for i in range(num):
    print("*"*(i+1)+" "*(num-i-1))
for j in range(num-1,0,-1):
    print("*"*(j)+(" "*(num-j)))

enter the number: 5
*
**
***
****
*****
****
***
**
*

In [9]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and row!=0) or ((row==0 or row==3)and(col>0 and col<4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [1]:
for row in range(7):
    for col in range(5):
        if (col==0 or col==4) or ((row==0 or row==3 or row==6) and (col!=0 and col!=4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*   *
*   *
*****
*   *
*   *
*****

In [9]:
for row in range(7):
    for col in range(5):
        if (col==0) or (col==4 and (row!=0 and row!=3 and row!=6)) or ((row==0 or row==3 or row==6)and (col>0 and col<4)):
            print("*",end="")
        else:
            print(" ",end="")
    print()

****
*   *
*   *
****
*   *
*   *
****

In [13]:
for row in range(7):
    for col in range(5):
        if ((col==0)and(row!=0 and row!=6))or(row==0 or row==6):
            print("*",end="")
        else:
            print(" ",end="")
    print()

*****
*
*
*
*
*
*****

In [16]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=6))or ((row==0 or row==6) and col>0):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ****
*
*
*
*
*
 ****

In [18]:
for row in range(7):
    for col in range(5):
        if (col==0 and (row!=0 and row!=1 and row!=5 and row!=6)) or (col==1 and (row==1 or row==5))or((row==0 or row ==6)and col>1):
            print("*",end="")
        else:
            print(" ",end="")
    print()

  ***
 *
*
*
*
 *
  ***